* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

#presentacion{
    margin-top: 2rem;
}
#carouselExampleFade{
    margin-top: 2rem;
    margin-bottom: 5rem;
}

#catalogo{
    margin-top: 90px;
}

.container-img{
    width: 100%;
    max-width: 1100px;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 60px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 250px;
    gap: 20px;
}

.container-img .box-img figure{
    width: 100%;
    height: 100%;
}

.container-img .box-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container-img .box-img:nth-child(6){
    grid-column-start:span 3;
}

.container-img .box-img:nth-child(5){
    grid-column-start:span 2;
}

#piedepagina{
    background-color: #52696F;
}